.container {
  max-width: 480px;
  height: 100%;
  padding: 20px;
  margin: 0 auto;

  background-color: darkgray;
}

.errorMessage {
  margin-top: 20px;
  text-align: center;
}

.devicesList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
