.container {
  max-width: 480px;
  height: 100%;
  padding: 20px;
  margin: 0 auto;

  background-color: darkgray;
}

.cameraScanner {
  position: relative;

  width: 100%;
  height: auto;
  margin: 0 auto;
}

.barcode {
  margin-bottom: 20px;
}

.barcode-list {
  width: 100%;
  height: 100px;

  background-color: white;
}

.errorMessage {
  margin-top: 20px;
  text-align: center;
}

.devicesList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
